<!DOCTYPE html>
<html lang="en">
    <head>
        <script
        src="https://kit.fontawesome.com/712575d4a5.js"
        crossorigin="anonymous"
        ></script>
        <title>Yeah!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/stylex.css" />
        <link rel="stylesheet" href="/css/detail.css" />
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="shortcut icon" href="/images/logo-y-title.png" />
        <script src="/scripts/cart.js" async></script>
      </head>
<body>
    <%- include('partials/header') %> 
    <main>
        <section class="productDetail">
            <div class="containerProduct">
                <div class="imgProduct">
                    <img src="/uploads/products/<%= product.imgpath %>" >
                </div>
                <div>
                <ul>
                    <li class="descriptionProductCard">
                        <ul style="flex-direction: column;">
                            <li><h1 id="nameProduct"><%= product.name %></h1></li>
                            <li><h3 class="titleLabel">Precio:</h3></li>
                            <li><h3 id="priceProduct">$ <%= new Intl.NumberFormat().format(product.price) %></h3></li>
                            <li><h3 class="grayTitleLabel">Descripción:</h3></li>
                            <li><h3 id="descriptionProduct"> <%= product.description %></h3></li>
                            <li><h3 class="titleLabel">Stock:</h3></li>
                            <li><h3 id="stockProduct"><%= product.stock %></h3></li>
                            <ul>
                            <li><button  id="buttonPurchase" class="buttonPurchase">Añadir al carrito</button></li>
                            <li><button class="buttonPurchaseBlue">Contactar</button></li>
                            </ul>
                        </ul>
                    </li>
                </ul>
                </div>
            </div>

            <div class="controls">
                <% if(typeof usuarioLogeado == "undefined") { %>
                    <% } else  { %>
                <% if (usuarioLogeado.admin == 1) { %>
                <a style="cursor:pointer" href="/edit/<%= product.id %>"><button>Editar</button></a>
                <form action="/delete/<%= product.id %>?_method=DELETE" method="POST">
                    <button type="submit">Borrar</button>
                    <% } %>
                <% } %>
                </form>
            </div>
        </section>
    </main>
    <%- include('partials/footer') %> 
</body>
</html>