<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylex.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <script src="../scripts/global.js"></script>
  </head>
  <body>

    <%- include('./partials/header') %>

    <div class="product-container">
      <% if(typeof product == "undefined") { %>
        <h2>No hay productos cargados aún</h2>
        <%} else  { %> 
          <%for (let i = 0; i < product.length; i++) { %>
            <div class="product" id="item1">
              <a href="/detail/<%= product[i].id %>" class="card">
              <img class="product-image" src="/uploads/products/<%= product[i].imgpath %>" alt="">
            <h2 id="productName"><%= product[i].name %></h2>
            <h3>$ <%= new Intl.NumberFormat().format(product[i].price) %></h3>

            <p><%= product[i].description %></p>
          </a>
          </div>
          <%}%>
        <%}%>
    </div>

      <%- include('./partials/footer') %>

  </body>
</html>
