<header>
  <div class="topnav">
      <!-- H1 LOGO -->
      <a class="logo" href="/" style="text-decoration: none"><h1>Yeah!</h1></a>
      <!-- BARRA SEARCH -->
      <div class="search-container">
        <form action="/search" method="GET">
          <input
            class="barra-search"
            type="text"
            placeholder="Buscar"
            name="search"
            value= <%= (typeof laQuery != 'undefined')? laQuery : null %>
          >
          <button class="lupa" type="submit" >
            <img src="/images/search-solid.svg" class="imgLupa"/>
          </button>
        </form>
      </div>
      <!-- LOGIN REGISTER CART -->
      <div class="log-reg-cart">
          <% if(typeof usuarioLogeado == "undefined") { %>
        <a href="/users/login"><button class="login" name="login">Inici치 sesi칩n</button></a>
        <a href="/users/register"><button class="register" name="register">Cre치 una cuenta</button></a>
        </button></a>
        <% } else  { %>
          <% if (usuarioLogeado != "undefined" ) { %>
            <a href="/users/admin/"><span>Crear Producto</span></a>
            <% } %>
        <div class="usLog">
          <a id="usLogName" href="/users/perfil/<%= usuarioLogeado.id %>" ><%= usuarioLogeado.username %>
            <% if( usuarioLogeado.avatar == "") { %>
              <img class="usLog" id="usLogImg" src="/uploads/avatars/default.png">
              <% } else  { %>
            <img class="usLog" id="usLogImg" src="/uploads/avatars/<%= usuarioLogeado.avatar %>"">
            <% } %>
          </a>
          
            <div class="usMenu">
              <button type="submit" id="closeSessionButton" onclick="closeSession('<%= usuarioLogeado.id %>')">Cerrar sesi칩n</button>
            </div>
            <a href="/products/cart"><button class="cart" name="cart">
              <img class="cartImg" src="/images/shopping-cart-solid.svg"/>
       </div>
       <% } %>
        
      </div>
    </div>
</header>